*.class



*.iml
target
log.txt
.classpath



*.jar
*.war

.metadata
*/target

/target/
target/
.classpath
.settings/
.project

./target/
./.classpath
./.settings/
./.project

*/target/
*/.classpath
*/.settings/
*/.project

