<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.spring.springboot.mapper.MoneyMapper">

	<update id="update" parameterType="org.spring.springboot.domain.MoneyEntity">
		update money_a set money_a.total=#{total}  where money_a.id=#{id}
	</update>
</mapper>